<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/alpha.css">
<body>

<!-- Navigation -->
<nav class="w3-bar w3-black">
  <%= link_to 'Home', root_path , {:class=> 'w3-button w3-bar-item'}%>
  <%= link_to 'Edit this Article', edit_article_path(@article) , {:class=> 'w3-button w3-bar-item'}%>
  <%= link_to 'List Articles', articles_path , {:class=> 'w3-button w3-bar-item'}%>
</nav>
<br/>
<h1>Showing selected article</h1>
<br/>
<p>
  Title: <%= @article.title %>
</p>
<p>
  Title: <%= @article.description %>
</p>
</body>
</html>